#include <windows.h>
#include <commctrl.h>
#include "resource.h"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDD_PREFERENCES DIALOG 0, 0, 186, 145
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION "Preferences"
FONT 8, "Ms Shell Dlg"
{
    GROUPBOX        "Observing site", IDC_STATIC, 5, 5, 175, 73, 0, WS_EX_LEFT
    LTEXT           "Latitude (decimal):", IDC_STATIC, 20, 22, 58, 8, SS_LEFT, WS_EX_LEFT
    EDITTEXT        IDC_PREF_LAT, 104, 19, 53, 15, ES_AUTOHSCROLL, WS_EX_LEFT
    LTEXT           "°", IDC_STATIC, 159, 20, 8, 8, SS_LEFT, WS_EX_LEFT
    LTEXT           "Longitude (decimal):", IDC_STATIC, 20, 40, 64, 8, SS_LEFT, WS_EX_LEFT
    EDITTEXT        IDC_PREF_LON, 104, 37, 53, 15, ES_AUTOHSCROLL, WS_EX_LEFT
    LTEXT           "°", IDC_STATIC, 159, 39, 8, 8, SS_LEFT, WS_EX_LEFT
    LTEXT           "Altitude above sea level:", IDC_STATIC, 20, 58, 78, 8, SS_LEFT, WS_EX_LEFT
    EDITTEXT        IDC_PREF_ALTASL, 104, 55, 53, 15, ES_AUTOHSCROLL, WS_EX_LEFT
    LTEXT           "m", IDC_STATIC, 160, 57, 8, 8, SS_LEFT, WS_EX_LEFT
    LTEXT           "SpaceShipScanner V2 by George Kristiansen", IDC_STATIC, 20, 87, 152, 8, SS_LEFT, WS_EX_LEFT
    LTEXT           "george7378@googlemail.com", IDC_STATIC, 48, 100, 95, 8, SS_LEFT, WS_EX_LEFT
    DEFPUSHBUTTON   "Update", IDC_PREF_UPDATE, 63, 118, 60, 20, 0, WS_EX_LEFT
}

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDD_SATMANAGER DIALOG 0, 0, 186, 250
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION "Satellite Manager"
FONT 8, "Ms Shell Dlg"
{
    GROUPBOX        "Select active satellite", IDC_STATIC, 5, 5, 175, 120, 0, WS_EX_LEFT
    COMBOBOX        IDC_SATMAN_TLEFILE, 23, 23, 140, 90, WS_VSCROLL | CBS_DROPDOWN | CBS_HASSTRINGS, WS_EX_LEFT
    LISTBOX         IDC_SATMAN_ACTIVESAT, 24, 45, 140, 67, WS_TABSTOP | WS_VSCROLL | LBS_NOINTEGRALHEIGHT | LBS_NOTIFY, WS_EX_LEFT
    DEFPUSHBUTTON   "Update TLEs", IDC_SATMAN_UPDATE, 63, 134, 60, 20, 0, WS_EX_LEFT
    EDITTEXT        IDC_SATMAN_UPDATESTATUS, 23, 163, 140, 52, WS_VSCROLL | ES_AUTOHSCROLL | ES_MULTILINE | ES_READONLY, WS_EX_LEFT
    DEFPUSHBUTTON   "OK", IDC_SATMAN_OK, 63, 223, 60, 20, 0, WS_EX_LEFT
}

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDD_PASSES DIALOG 0, 0, 282, 215
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION "Satellite Passes"
FONT 8, "Ms Shell Dlg"
{
    GROUPBOX        "Prediction range start (UTC)", IDC_STATIC, 5, 5, 130, 58, 0, WS_EX_LEFT
    CONTROL         "", IDC_PASSES_STARTDATE, DATETIMEPICK_CLASS, WS_TABSTOP | DTS_RIGHTALIGN, 23, 20, 95, 15, WS_EX_LEFT
    CONTROL         "", IDC_PASSES_STARTTIME, DATETIMEPICK_CLASS, WS_TABSTOP | DTS_TIMEFORMAT | DTS_UPDOWN | DTS_RIGHTALIGN, 23, 37, 95, 15, WS_EX_LEFT
    GROUPBOX        "Prediction range end (UTC)", IDC_STATIC, 147, 5, 130, 58, 0, WS_EX_LEFT
    CONTROL         "", IDC_PASSES_ENDDATE, DATETIMEPICK_CLASS, WS_TABSTOP | DTS_RIGHTALIGN, 165, 20, 95, 15, WS_EX_LEFT
    CONTROL         "", IDC_PASSES_ENDTIME, DATETIMEPICK_CLASS, WS_TABSTOP | DTS_TIMEFORMAT | DTS_UPDOWN | DTS_RIGHTALIGN, 165, 37, 95, 15, WS_EX_LEFT
    DEFPUSHBUTTON   "Calculate", IDC_PASSES_CALCULATE, 111, 73, 60, 20, 0, WS_EX_LEFT
    CONTROL         "", IDC_PASSES_PROGRESS, PROGRESS_CLASS, PBS_SMOOTH, 10, 102, 261, 15, WS_EX_LEFT
    CONTROL         "", IDC_PASSES_RESULTS, WC_LISTVIEW, WS_TABSTOP | WS_BORDER | LVS_ALIGNLEFT | LVS_NOSORTHEADER | LVS_SINGLESEL | LVS_REPORT, 5, 125, 271, 85, WS_EX_LEFT
}

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDI_MAINICON       ICON           "mainicon.ico"
